
.btn-neutral {
    border-color: #FFFFFF;
    color: #FFFFFF; }
.btn-neutral:hover, .btn-neutral:focus, .btn-neutral:active, .btn-neutral.active, .open > .btn-neutral.dropdown-toggle {
    background-color: #FFFFFF;
    color: rgba(255, 255, 255, 0.7);
    border-color: #FFFFFF; }
.btn-neutral:hover .caret, .btn-neutral:focus .caret, .btn-neutral:active .caret, .btn-neutral.active .caret, .open > .btn-neutral.dropdown-toggle .caret {
    border-top-color: rgba(255, 255, 255, 0.7); }
.btn-neutral.disabled, .btn-neutral.disabled:hover, .btn-neutral.disabled:focus, .btn-neutral.disabled.focus, .btn-neutral.disabled:active, .btn-neutral.disabled.active, .btn-neutral:disabled, .btn-neutral:disabled:hover, .btn-neutral:disabled:focus, .btn-neutral:disabled.focus, .btn-neutral:disabled:active, .btn-neutral:disabled.active, .btn-neutral[disabled], .btn-neutral[disabled]:hover, .btn-neutral[disabled]:focus, .btn-neutral[disabled].focus, .btn-neutral[disabled]:active, .btn-neutral[disabled].active, fieldset[disabled] .btn-neutral, fieldset[disabled] .btn-neutral:hover, fieldset[disabled] .btn-neutral:focus, fieldset[disabled] .btn-neutral.focus, fieldset[disabled] .btn-neutral:active, fieldset[disabled] .btn-neutral.active {
    background-color: transparent;
    border-color: #FFFFFF; }
.btn-neutral.btn-fill {
    color: #FFFFFF;
    background-color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100); }
.btn-neutral.btn-fill:hover, .btn-neutral.btn-fill:focus, .btn-neutral.btn-fill:active, .btn-neutral.btn-fill.active, .open > .btn-neutral.btn-fill.dropdown-toggle {
    background-color: #FFFFFF;
    color: #FFFFFF;
    border-color: #FFFFFF; }
.btn-neutral.btn-fill .caret {
    border-top-color: #FFFFFF; }
.btn-neutral.btn-simple:hover, .btn-neutral.btn-simple:focus, .btn-neutral.btn-simple:active, .btn-neutral.btn-simple.active, .open > .btn-neutral.btn-simple.dropdown-toggle {
    background-color: transparent;
    color: #FFFFFF; }
.btn-neutral.btn-simple .caret {
    border-top-color: #FFFFFF; }
.btn-neutral .caret {
    border-top-color: #FFFFFF; }
.btn-neutral:hover, .btn-neutral:focus {
    color: #66615B; }
.btn-neutral:active, .btn-neutral.active, .open > .btn-neutral.dropdown-toggle {
    background-color: #FFFFFF;
    color: #66615B; }
.btn-neutral.btn-fill {
    color: #66615B; }
.btn-neutral.btn-fill:hover, .btn-neutral.btn-fill:focus {
    color: #403D39; }
.btn-neutral.btn-simple:active, .btn-neutral.btn-simple.active {
    background-color: transparent; }

.btn:disabled, .btn[disabled], .btn.disabled {
    opacity: 0.5;
    filter: alpha(opacity=50); }

.btn-simple {
    border: 0;
    padding: 0px 18px; }
.btn-simple.btn-icon {
    padding: 0px; }

.btn-lg {
    font-size: 20px;
    border-radius: 50px;
    line-height: 20px;
    padding: 14px 30px;
    font-weight: 400; }
.btn-lg.btn-simple {
    padding: 16px 30px; }

.btn-sm {
    font-size: 14px;
    border-radius: 26px;
    line-height: 20px;
    padding: 5px 10px; }
.btn-sm.btn-simple {
    padding: 7px 10px; }

.btn-xs {
    font-size: 12px;
    border-radius: 26px;
    line-height: 20px;
    padding: 1px 5px; }
.btn-xs.btn-simple {
    padding: 3px 5px; }

.btn-wd {
    min-width: 140px; }

.btn-flat {
    padding-top: 0;
    height: 5px;
}

.btn-group.select {
    width: 100%; }

.btn-group.select .btn {
    text-align: left; }

.btn-group.select .caret {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    right: 8px; }