<div class="profile-content section-nude" xmlns="http://www.w3.org/1999/html">
    <div class="container" ng-controller="userCtrl">

        <div class="profile-tabs">
            <div class="row">

                <!--   输入框   -->
                <div class="col-lg-6 col-md-offset-2">
                    <textarea class="form-control" rows="4" ng-model="contents.mainPost"></textarea>
                    <br>
                    <div class="form-inline">
                        <button class="btn btn-sm">图片</button>
                        <button class="btn btn-sm">视频</button>
                        <button class="btn btn-sm">音乐</button>
                        <button class="btn btn-sm btn-info col-md-offset-7" ng-click="publishPost()">发布</button>
                    </div>
                </div>

                <!--  名片  -->
                <div class="col-lg-4">

                    <div class="nav-tabs-navigation">
                        <div class="nav-tabs-wrapper">

                            <!-- todo 在这里做一个名片, 身份信息等各种资料的展示-->

                            <!--<div flow-init>-->
                                <!--<img src="/images/examples/chet_faker_1.jpg"-->
                                     <!--class="img-rounded img-responsive" tooltips tooltip-side="right" tooltip-content="点击更新头像"-->
                                     <!--flow-btn>-->
                            <!--</div>-->



                            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                                <li><a>&nbsp;&nbsp;关注&nbsp;&nbsp;</a>

                                    <p>11</p></li>
                                <li><a>&nbsp;&nbsp;粉丝&nbsp;&nbsp;</a>

                                    <p>36</p></li>
                                <li><a>&nbsp;&nbsp;微博&nbsp;&nbsp;</a>

                                    <p>79</p></li>
                            </ul>


                        </div>
                    </div>


                </div>

            </div>

            <div class="row">

                <div class="col-md-6 col-md-offset-2">
                    <hr>
                    <ul class="list-unstyled">
                        <!--{{feeds}}-->
                        <li ng-repeat="feed in feeds">
                            <div class="row">
                                <div class="col-md-2 col-md-offset-0 col-xs-3 col-xs-offset-2">

                                    <!--  头像 -->
                                    <img src="../images/examples/flume.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">

                                </div>
                                <div class="col-md-10 col-xs-4">
                                    <h5>
                                        <div>
                                            <a>{{feed.post.author}}</a>
                                            <a class="btn btn-sm btn-simple" ng-if="showFollowButton(feed.post.author)" ng-click="follow(feed.post.author)">关注</a>
                                            <a class="btn btn-sm btn-simple" ng-if="showUnFollowButton(feed.post.author)" ng-click="unFollow(feed.post.author)">取消关注</a>
                                        </div>
                                        <small><small>&nbsp;{{feed.post.createDate}}</small></small>
                                    </h5>
                                    <p>{{feed.post.content}}
                                        <span ng-repeat="parent in feed.parents">//@<a>{{parent.author}}</a>:{{parent.content}}</span>
                                    </p>

                                    <!-- here is the first post-->
                                    <div ng-if="feed.origin">

                                        <hr>
                                        <small>转发自@<a>{{feed.origin.author}}</a><br>
                                            <small>{{feed.origin.createDate}}</small>
                                            <p>

                                                <small>
                                                    {{feed.origin.content}}
                                                </small>
                                            </p>



                                            <!--&lt;!&ndash; post footer &ndash;&gt;-->
                                            <!--<ul class="list-inline text-right">-->
                                                <!--<li>-->
                                                    <!--<small>评论</small>-->
                                                <!--</li>-->
                                                <!--<li>-->
                                                    <!--<small>赞</small>-->
                                                <!--</li>-->
                                            <!--</ul>-->
                                        </small>
                                        <hr>
                                    </div>

                                    <div>
                                        <div class="col-md-4">
                                            <a class="btn btn-simple" ng-dialog="repostModal"
                                               ng-dialog-controller="userCtrl"
                                               ng-dialog-data="{{feed.post}}"
                                               ng-dialog-class="ngdialog-theme-plain"><small>转发</small></a>
                                        </div>
                                        <div class="col-md-6">
                                            <a class="btn btn-simple" ng-click="pullComments(feed.post._id)"><small>评论 {{feed.post.comments.length}}</small></a>
                                        </div>
                                        <div class="col-md-2">
                                            <a class="btn btn-simple" ng-click="upPost(feed.post._id)"><small><i class="fa fa-thumbs-up"></i>赞 {{feed.post.ups.length}}</small></a>
                                        </div>
                                    </div>

                                    <div ng-if="showComments(feed.post._id)">
                                        <br>
                                        <br>

                                        <div class="col-md-10">
                                            <textarea class="form-control text-sm" rows="1" ng-model="contents[feed.post._id]"></textarea>
                                        </div>
                                        <div class="col-md-2">
                                            <button class="btn btn-simple btn-info" ng-click="publishComment(feed.post._id)"><small>评论</small></button>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <hr>


                                        <!--<div>-->
                                            <!--<div ng-repeat="comment in feed.comments">-->
                                                <!--<small>@{{comment.author}}: {{comment.content}}</small>-->
                                                <!--<hr>-->
                                            <!--</div>-->
                                        <!--</div>-->
                                        <div ng-repeat="comment in feed.post.comments">
                                            <small class="col-lg-12">
                                                <a>@{{comment.author}}</a> <span ng-if="comment.parent">回复<a>@{{comment.parentAuthor}}</a></span> : {{comment.content}}
                                            </small>
                                            <small class="col-lg-10">
                                                <small>{{comment.createDate}}</small>
                                            </small>
                                            <!-- todo a 标签的语义化 处理-->
                                            <a class="col-lg-2 text-right" href="" ng-click="pullComments(comment._id)">
                                                <small>回复</small>
                                            </a>


                                            <div ng-if="showComments(comment._id)">
                                                <hr class="col-lg-11">
                                                <div class="col-md-9">
                                                    <textarea class="form-control text-sm" rows="1" ng-model="contents[comment._id]"></textarea>
                                                </div>
                                                <div class="col-md-3">
                                                    <button class="btn btn-simple" ng-click="replyComment(feed.post._id, comment)"><small class="text-left">回复评论</small></button>
                                                </div>

                                            </div>

                                            <hr class="col-lg-11">
                                        </div>
                                    </div>

                                    <!-- comments view -->

                                </div>
                            </div>
                            <hr>
                        </li>

                        <!-- ul -->

                    </ul>
                </div>
            </div>

        </div>

        <!-- modal -->
        <script type="text/ng-template" id="repostModal">
            <div class="row">
                <h4 class="col-md-offset-2">转发微博</h4>
                <div class="row">
                    <div class=" col-md-offset-1 col-md-8">
                        <textarea class="form-control text-sm" rows="1" ng-model="contents[ngDialogData._id+'repost']"></textarea>
                    </div>
                    <div class="col-md-2">
                        <button class="btn" ng-click="repost(ngDialogData._id, ngDialogId)">转发</button>
                    </div>
                </div>
                <div>
                    <span class="">@{{ngDialogData.author}}: {{ngDialogData.content}}</span>
                </div>
            </div>


        </script>

    </div>
</div>

