<div class="container" ng-controller="userCtrl">
    <div class="weibo">
        <!-- 主体栏 -->
        <main>
            <!--   发微博框   -->
            <header class="publish-box">
                <textarea class="form-control" maxlength="140" rows="4" ng-model="contents.mainPost"></textarea>

                <ul>
                    <li>
                        <button class="btn btn-default">图片</button>
                    </li>
                    <li>
                        <button class="btn btn-default">视频</button>
                    </li>
                    <li>
                        <button class="btn btn-default">音乐</button>
                    </li>
                </ul>

                <button class="btn btn-danger" ng-click="publishPost()">发布</button>
            </header>

            <!-- 微博 -->
            <article class="feed" ng-repeat="feed in feeds">
                <!-- 微博主体内容, 包括发布者, 发布内容和发布人 -->
                <section class="feed-main">
                    <aside>
                        <img src="../images/examples/flume.jpg" class="img-responsive">
                    </aside>

                    <article>
                        <header>
                            <a>{{feed.post.author}}</a>
                            <time>{{feed.post.createDate | amDateFormat:'MM月DD日 HH:mm:ss'}}</time>
                        </header>

                        <p>{{feed.post.content}}
                            <span ng-repeat="parent in feed.parents">//@<a>{{parent.author}}</a>:{{parent.content}}</span>
                        </p>

                        <!-- 原博 -->
                        <article class="feed-origin" ng-if="feed.origin">
                            <header>
                                <a>@{{feed.origin.author}}</a>
                            </header>
                            <p>{{feed.origin.content}}</p>
                            <footer>
                                <time>{{feed.origin.createDate | amDateFormat:'MM月DD日 HH:mm:ss'}}</time>
                                <ul>
                                    <li>赞</li>
                                    <li>评论</li>
                                    <li>转发</li>
                                </ul>
                            </footer>
                        </article>
                    </article>

                    <!-- 微博页脚, 处理转发, 评论, 赞  -->
                    <footer>
                        <ul>
                            <li>
                                <a ng-dialog="repostModal"
                                   ng-dialog-controller="userCtrl"
                                   ng-dialog-data="{{feed.post}}"
                                   ng-dialog-class="ngdialog-theme-plain">
                                    转发
                                </a>
                            </li>
                            <li>
                                <a ng-click="pullComments(feed.post._id)">评论 {{feed.post.comments.length}}</a>
                            </li>
                            <li>
                                <a ng-click="upPost(feed.post._id)">
                                    <i class="fa fa-thumbs-up"></i>
                                    {{feed.post.ups.length}}
                                </a>
                            </li>
                        </ul>
                    </footer>
                </section>

                <!-- 微博评论列表 -->
                <section class="feed-comments-list" ng-if="showComments(feed.post._id)">
                    <!-- 评论框 -->
                    <header>
                        <img src="../images/examples/flume.jpg" class="img-responsive">
                        <textarea maxlength="140" rows="1" ng-model="contents[feed.post._id]"></textarea>
                        <button class="btn btn-danger" ng-click="publishComment(feed.post._id)">评论</button>
                    </header>

                    <!-- 评论列表 -->
                    <section class="feed-comment-box" ng-repeat="comment in feed.post.comments">
                        <aside>
                            <img src="../images/examples/flume.jpg" class="img-responsive">
                        </aside>

                        <article class="feed-comment">
                            <!-- 评论主体, 包括内容和处理项  -->
                            <p><a>@{{comment.author}}</a> <span
                                    ng-if="comment.parent">回复<a>@{{comment.parentAuthor}}</a></span> :
                                {{comment.content}}</p>
                            <time>{{comment.createDate | amDateFormat:'MM月DD日 HH:mm:ss'}}</time>
                            <ul>
                                <li>
                                    <a ng-click="pullComments(comment._id)">回复</a>
                                </li>
                                <li>
                                    赞
                                </li>
                            </ul>

                            <!-- 回复框 -->
                            <section ng-if="showComments(comment._id)">
                                <textarea maxlength="140" rows="1" ng-model="contents[comment._id]"></textarea>
                                <button class="btn btn-danger" ng-click="replyComment(feed.post._id, comment)">评论
                                </button>
                            </section>
                        </article>
                    </section>
                </section>
            </article>

            <!-- todo 分页 -->
            <footer>

            </footer>

        </main>

        <!-- 侧边栏 用户名片  -->
        <aside class="user-info-card">
            <header>
                <img src="../images/examples/flume.jpg" class="img-circle img-responsive">
                <h4>{{currentUser.name}}</h4>
            </header>

            <footer>
                <ul>
                    <li>
                        <h4>{{currentUser.followings.length}}</h4>
                        <h4>关注</h4>
                    </li>
                    <li>
                        <h4>{{currentUser.followers.length}}</h4>
                        <h4>粉丝</h4>
                    </li>
                    <li>
                        <h4>{{currentUser.posts.length}}</h4>
                        <h4>微博</h4>
                    </li>
                </ul>
            </footer>
        </aside>

        <!-- todo 页脚内容 -->
        <footer>

        </footer>
    </div>


    <!--<a class="btn btn-sm btn-simple" ng-if="showFollowButton(feed.post.author)" ng-click="follow(feed.post.author)">关注</a>-->
    <!--<a class="btn btn-sm btn-simple" ng-if="showUnFollowButton(feed.post.author)" ng-click="unFollow(feed.post.author)">取消关注</a>-->
    <!--<button class="btn btn-simple pull-right" ng-if="totalFeeds.length > 20">Next</button>-->

    <!-- 转发 modal -->
    <script type="text/ng-template" id="repostModal">
        <form class="weibo repost-modal">
            <h3>转发微博</h3>
            <p class="repost-origin">@{{ngDialogData.author}}: {{ngDialogData.content}}</p>
            <textarea class="form-control" maxlength="140" rows="4" placeholder="请输入转发理由" ng-model="contents[ngDialogData._id+'repost']"></textarea>
            <button class="btn btn-danger" ng-click="repost(ngDialogData._id, ngDialogId)">
                <small>转发</small>
            </button>
        </form>
    </script>

</div>

