<nav class="navbar navbar-relative navbar-ct-transparent" role="navigation-demo" id="register-navbar">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="">Honeycomb</a>
        </div>

        <div class="collapse navbar-collapse" id="navigation-example-2">
            <ul class="nav navbar-nav navbar-right">
                <a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-forumbee"></i></a>
                <a href="#" target="_blank" class="btn btn-simple"><i class="fa fa-sign-out"></i></a>
            </ul>
        </div>
    </div>
</nav>

<div class="wrapper">
    <div class="profile-background">
        <div class="filter-black"></div>
    </div>
    <div ui-view></div>
</div>