<br>
<h3 class="title text-center">搜索</h3>
<br>
<div class="card col-md-6 col-md-offset-3" ng-controller="searchCtrl">

    <div class="header">
        <div class="row">
            <br>
            <input class="col-md-10 form-control long-holder bg-blue" rows="1" ng-model="searchingInput" placeholder="请输入用户名">
            <button class="btn btn-simple" ng-click="search()"><i class="fa fa-search"></i></button>
        </div>
    </div>


    <div class="content" ng-switch="searchedResult">
        <div class="row" ng-switch-when="found">
            <hr>
            <div class="col-md-2 col-md-offset-0 col-xs-3 col-xs-offset-2">
                <!--  头像 -->
                <img src="../images/examples/flume.jpg" class="img-no-padding img-responsive">
            </div>

            <div class="col-md-10 col-xs-4">
                <a>{{searchedUser.name}}</a>
                <a class="btn btn-simple" ng-if="showFollowButton(searchedUser.name)" ng-click="follow(searchedUser.name)">关注</a>
                <a class="btn btn-sm btn-simple" ng-if="showUnFollowButton(searchedUser.name)" ng-click="unFollow(searchedUser.name)">取消关注</a>
                <p>介绍: {{searchedUser.signature || '&nbsp;&nbsp;无'}}</p>
                <a>粉丝: </a>{{searchedUser.followers.length}} &nbsp;
                <a>微博: </a>{{searchedUser.posts.length}}
            </div>
        </div>

        <p ng-switch-when="notFound">抱歉, 你所查找的用户不存在!</p>

    </div>
    <!-- content-->
</div>