<br>
<div class="content" ng-controller="roleCtrl">
    <div class="container-fluid">
        <div class="row">


            <div class="col-md-3">
                <div class="card">

                    <div class="header">
                        <h4 class="title">所有角色</h4>
                        <button class="btn btn-sm btn-simple" ng-click="pushSwitch4CreateRolePanel()">
                            <i class="fa fa-plus"></i>新角色
                        </button>

                        <div ng-if="flag2ShowCreateRolePanel">
                            <div class="row">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="角色名" ng-model="roleInputs.roleType">
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-danger" ng-click="pushSwitch4CreateRolePanel()">取消</button>
                                </div>
                                <div class="col-md-4 text-right">
                                    <button class="btn btn-success" ng-click="createRole()">创建</button>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="content">

                        <div class="table-full-width">
                            <table class="table" ng-repeat="role in roles">
                                <tbody>

                                <tr>
                                    <td>
                                        <button class="td-actions btn btn-simple btn-sm" ng-click="setCurrentRole(role._id)">
                                            {{role.type}} <a class="fa fa-edit" ng-click="pushSwitch4Panel(role._id)"></a>
                                        </button>
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-danger btn-sm" ng-click="deleteRole(role.type)">
                                            删除 <i class="fa fa-remove"></i>
                                        </button>
                                    </td>
                                </tr>

                                <tr ng-if="flag2ShowPanel(role._id)">
                                    <td >
                                        <input type="text" class="form-control" placeholder="新角色名" ng-model="editInputArr[role._id]">
                                    </td>
                                    <td class="text-right">
                                        <button class="btn btn-info" ng-click="changeRoleName(role._id, role.type)">修改</button>
                                    </td>

                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-5">
                <div class="card ">
                    <div class="header">
                        <h4 class="title"><a>{{currentRole.type}}</a>的所有权限</h4>
                        <button class="btn btn-sm btn-simple" ng-click="pushSwitch4AddPermissionPanel()">
                            <i class="fa fa-plus"></i>为该角色添加一个新权限
                        </button>


                        <div ng-if="flag2ShowAddPermissionPanel">
                            <div class="row">
                                <div class="col-md-5">
                                    <label>
                                        <select class="form-control" ng-model="addPermissionInputs.resource">
                                            <option ng-repeat="p in permissions" label="{{p.resource}}" value="{{p.resource}}"></option>
                                        </select>
                                    </label>
                                </div>
                                <div class="col-md-3">
                                    <label>
                                        <select class="form-control" ng-model="addPermissionInputs.action">
                                            <option ng-repeat="a in action()" label="{{permission.resource}}" value="{{permission.resource}}"></option>
                                        </select>
                                    </label>
                                </div>
                                <div class="col-md-4 text-right">
                                    <button class="btn btn-success" ng-click="addPermission()">添加</button>
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="content">
                        <div class="table-full-width">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>资源名</td>
                                    <td>权限动作</td>
                                    <td>资源说明</td>
                                    <td class="text-right">删除该资源</td>
                                </tr>


                                <tr ng-repeat="perm in currentRole.permissions">
                                    <td>{{perm.resource}}</td>
                                    <td>{{perm.action}}</td>
                                    <td>{{perm.desc}}</td>
                                    <td class="text-right">
                                        <button class="btn btn-danger btn-sm">
                                            删除 <i class="fa fa-remove"></i>
                                        </button>
                                    </td>
                                </tr>



                                </tbody>
                            </table>
                        </div>

                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-history"></i> Updated 3 minutes ago
                            </div>
                        </div>

                    </div>
                    <!-- content-->
                </div>
                <!-- card-->
            </div>


            <div class="col-md-4">
                <div class="card">
                    <div class="header">
                        <h4 class="title">权限标签</h4>
                        <button class="btn btn-sm btn-simple" ng-click="pushSwitch4CreatePermissionPanel()">
                            <i class="fa fa-plus"></i>新权限
                        </button>

                        <div ng-if="flag2ShowCreatePermissionPanel">
                            <div class="row">
                                <div class="col-md-5">
                                    <input type="text" class="form-control" placeholder="权限资源名" ng-model="permissionInputs.resource">
                                </div>
                                <div class="col-md-4 text-right">
                                    <label>
                                        <select class="form-control" ng-model="permissionInputs.action" ng-options="action for action in actions">
                                        </select>
                                    </label>
                                </div>
                                <div class="col-md-3 text-right">
                                    <button class="btn btn-danger" ng-click="pushSwitch4CreatePermissionPanel()">取消</button>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-9">
                                    <input type="text" class="form-control" placeholder="资源说明" ng-model="permissionInputs.desc">
                                </div>
                                <div class="col-md-3 text-right">
                                    <button class="btn btn-success" ng-click="createPermission()">创建</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content">
                        <div class="table-full-width">
                            <table class="table">
                                <tbody>
                                <tr>
                                    <td>资源名</td>
                                    <td>操作权限</td>
                                    <td>资源说明</td>
                                    <td class="text-right">删除该资源</td>
                                </tr>
                                </tbody>
                            </table>

                            <div class="form-group text-center" ng-if="promptHereIsNoting(permissions)">
                                <label>还没有创建任何权限</label>
                            </div>

                            <table class="table" ng-repeat="permission in permissions">
                                <tbody>
                                <tr>
                                    <td>{{permission.resource}}</td>
                                    <td>{{permission.action}}</td>
                                    <td>{{permission.desc}}</td>
                                    <td class="text-right">
                                        <button class="btn btn-danger btn-sm " ng-click="deletePermission(permission.resource, permission.action, permission._id)">
                                            <i class="fa fa-remove"></i>
                                        </button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>