<br>

<div class="content" ng-controller="userAdminCtrl">
    <div class="container-fluid">
        <div class="row">



            <div class="col-md-2">
                <div class="card">
                    <div class="header">
                        <h4 class="title">搜索用户</h4>
                    </div>

                    <div class="content">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="searchInput.username">
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="searchUser()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                        <br>

                        <tr>
                            <!--<td>-->
                                <!--<img src="../images/examples/flume.jpg" class="img-rounded img-no-padding img-responsive">-->
                            <!--</td>-->

                            <td>
                                <button class="td-actions btn btn-simple btn-sm" ng-click="setCurrentRole(role._id)">
                                    结果 <a class="fa fa-edit" ng-click="pushSwitch4Panel(role._id)"></a>
                                </button>
                            </td>

                            <td class="text-right">
                                <button class="btn btn-danger btn-sm" ng-click="deleteRole(role.type)">
                                    删除 <i class="fa fa-remove"></i>
                                </button>
                            </td>
                        </tr>



                    </div>
                </div>
            </div>

            <div ui-view></div>


        </div>
    </div>
</div>