<br>

<div class="content" ng-controller="userAdminCtrl">
    <div class="container-fluid">
        <div class="row">



            <div class="col-md-2">
                <div class="card">
                    <div class="header">
                        <h4 class="title">搜索用户</h4>
                    </div>

                    <div class="content">
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="searchInput.username">
                            <span class="input-group-btn">
                                <button class="btn btn-default" ng-click="searchUser()">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                        <br>


                        <div ng-if="searchState == 'notFound'">
                            抱歉, 该用户不存在
                        </div>






                    </div>
                </div>

                <div class="card" ng-if="searchState == 'found'">
                    <div class="header">

                        <!-- 头像 -->
                        <div>
                            <img src="../images/examples/flume.jpg" alt="Circle Image" class="img-rounded img-no-padding img-responsive">
                        </div>
                        <h3>{{currentUser.name}}</h3>
                        <i class="fa fa-anchor"></i><button class="btn btn-simple"><small>id (不可修改)</small></button>
                        <br>
                        <small>{{currentUser._id}}</small>
                        <br>
                        <i class="fa fa-envelope-o"></i><button class="btn btn-simple"><small>邮箱</small></button>
                        <br>
                        <small>{{currentUser.email}}</small>
                        <br>
                        <i class="fa fa-key"></i><button class="btn btn-simple"><small>密码</small></button>
                        <br>
                        <small>点击查看</small>
                        <br>
                        <i class="fa fa-user"></i><button class="btn btn-simple"><small>权限角色</small></button>
                        <br>
                        <small>{{currentUser.role}}</small>
                        <br>
                        <i class="fa fa-clock-o"></i><button class="btn btn-simple"><small>加入时间</small></button>
                        <br>
                        <small>{{currentUser.createDate}}</small>

                    </div>

                    <div class="footer text-center">
                        <hr>
                        <small>点击项目可进行修改</small>
                    </div>
                </div>
            </div>

            <div ui-view></div>


        </div>
    </div>
</div>