<br>
<div class="content" ng-controller="roleCtrl">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-2">

                <div class="card">
                    <div class="header">

                        <!-- 头像 -->
                        <div>
                            <img src="../images/examples/flume.jpg" alt="Circle Image" class="img-rounded img-no-padding img-responsive">
                        </div>
                        <h3>honeycomb</h3>
                        <i class="fa fa-anchor"></i><button class="btn btn-simple"><small>id (不可修改)</small></button>
                        <br>
                        <i class="fa fa-envelope-o"></i><button class="btn btn-simple"><small>邮箱</small></button>
                        <br>
                        <i class="fa fa-key"></i><button class="btn btn-simple"><small>密码</small></button>
                        <br>
                        <i class="fa fa-user"></i><button class="btn btn-simple"><small>权限角色</small></button>
                        <br>
                        <i class="fa fa-clock-o"></i><button class="btn btn-simple"><small>加入时间</small></button>

                    </div>

                    <div class="footer text-center">
                        <hr>
                        <small>点击项目可进行修改</small>
                    </div>
                </div>


            </div>


            <div class="col-md-8">

                <div class="card">
                    <div class="header">
                        <h1>woshi</h1>
                    </div>

                    <div class="content">
                        <button>ss</button>
                    </div>

                    <div class="footer">
                        <span>ss</span>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>