.profile-background{
    background-image: url('../images/examples/lamp.jpg');
    background-position: center center;
    background-size: cover;
    height: 300px;
    margin-top: -106px;
    overflow: hidden;
    width: 100%;
}
.profile-background .filter-black::after{
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    display: block;
    height: 300px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.profile-content{
    position: relative;
}
.profile-tabs{
    margin: 50px 0;
    min-height: 300px;
}